flask
flask_sqlalchemy
mysql-connector-python==8.0.24
flask-migrate
flask-cors

# testing
pytest
requests

# production
uwsgi

# swagger api docs
apispec
apispec_webframeworks
marshmallow>=3.0
flask_swagger_ui
openapi_spec_validator

